<p>product-details works!</p>

<div class="card" style="width: 18rem;">
  <img src="product?.imageUrl" alt="">
  <div class="card-body">
    <h5 class="card-title">Name  : {{product?.name}}</h5>
    <p class="card-text">Price   :{{product?.price}}</p>
    <p class="card-text">Quantity   :{{product?.quantity}}</p>
    <hr>
    <div class="btn-group" role="group" aria-label="basic mixed style">
        <button [disabled]="pId==prodIds![0]" class="btn btn-warning" (click)="PrevProduct()">Prev</button> <!--[disabled]="pId==prodIds[0]" -->
        <button class="btn btn-success" (click)="goback()">goback</button>
        <button   [disabled]="pId==prodIds![prodIds!.length - 1]" class="btn btn-danger" (click)="NextProduct()">Next</button>   <!-- [disabled]="pId==prodIds[prodIds.length - 1]"-->
    </div>
  </div>
</div>
