<div class="d-flex">
  <!-- Sidebar -->
  <div class=" text-white vh-100"
       style="width: 250px; transition: all 0.3s;background-color: brown;">
    <div class="p-3">
      <h4 class="text-center">Menu</h4>
      <hr>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="bi bi-house me-2"></i>
            <span >Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="bi bi-people me-2"></i>
            <span >Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="bi bi-gear me-2"></i>
            <span >Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Toggle Button -->
  <button class="btn btn-dark position-fixed"
          style="z-index: 1000; left: 200px; top: 10px;">
    <i class="bi-chevron-right"></i>
  </button>
</div>
